* { margin: 0; padding: 0; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	:root {
		--page-horizontal-padding: 10px;
		/* --page-horizontal-padding: 6vw; */
	}
	
	.shown-lt-600px {
		display: inherit;
	}
	.hidden-lt-600px {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.shown-lt-600px {
		display: none;
	}
	.hidden-lt-600px {
		display: inherit;
	}

	:root {
		--page-horizontal-padding: 6vw;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

body {
	background-image: url("background-pattern-dark.png");
	font-size: calc(12px + 1vmin);
}

.title-banner-container {
	text-align: center;
	background-color: #b25068;
	height: calc(20px + 4vh);
	/* margin-bottom: 1.5em; */
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.title-banner-container img {
	margin: auto;
	height: calc(10px + 3vh);
	vertical-align: middle;
}

.index-links-container {
	text-align: center;
	/* color: antiquewhite; */
}

.index-links-container a {
	transition-property: color;
	transition-duration: 0.2s;
	/* color: goldenrod; */
	color: #b25068;
    text-decoration: none;
}

.index-links-container a:hover {
	color: #f25068;
	/* color: gold; */
    text-decoration: none;
}

.page-container {
	/* color: #111111; */
	color: #eeeeee;
	/* background-color: rgba(220, 220, 220, 0.9); */
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px) saturate(150%);
	-webkit-backdrop-filter: blur(4px) saturate(150%);
	/* box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.0); */
	/* box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2); */
	max-width: 75ch;
	margin: 0 auto;
	padding: 1.5vh 6vw 10vh;
	padding: 1.5vh var(--page-horizontal-padding) 10vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-container a {
	transition-property: color;
	transition-duration: 0.2s;
	color: #b25068;
}

.page-container a:hover {
	color: #f25068;
}

.page-container h2 {
	/* margin-bottom: 0.8em; */
	text-align: center;
}

.page-container p {
	margin-top: 0.8em;
}

.games-container {
	margin-top: 2em;
	text-align: center;
}

.games-container iframe {	
	transition-property: box-shadow;
	transition-duration: 0.2s;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.games-container iframe:hover {	
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.footer-container {
	margin-top: 4.5em;
	font-weight: 100;
	font-size: smaller;
	color: rgb(255, 255, 255, 0.5);
	text-align: center;
}